
@using PgSql;

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" herf="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
@*<link rel="stylesheet" href="/resources/demos/style.css">*@
<link rel="stylesheet" type="text/css" href="~/css/DBExplorerStyles.css">
<link rel="stylesheet" type="text/css" href="~/css/codemirror.css" />


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.scrollbar/0.2.11/jquery.scrollbar.js" type="text/javascript"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="~/js/DBExplorer.js" type="text/javascript"></script>
<script src="~/js/codemirror.js" type="text/javascript"></script>
<script src="~/js/mode/sql/sql.js" type="text/javascript"></script>
<div id="droppable" class="drop-box"></div>

<div class="cont">
    <div class="mytree" style="padding:12px;border:2px solid #ccc; margin-right: 850px; margin-top:20px; position: relative; height: 500px; overflow: auto ;">
        @{
            foreach (KeyValuePair<string, MyTable> Table_kvp in ViewBag.Tables)
            {
                <div table-name="@Table_kvp.Key" id="@Table_kvp.Key">


                    <span class="table-name">@Table_kvp.Key</span>
                    @{
                        MyTable table = Table_kvp.Value;
                        string schema = table.Schema;
                        List<string> Indexes = table.Index;
                        List<MyColumn> Columns = table.Columns;
                        <div>
                            <span>Schema</span>
                            <div>@schema</div>
                        </div>
                        <div>
                            <span>Index</span>
                            @foreach (string Index in Indexes)
                            {
                                <div>@Index</div>
                            }
                        </div>
                        <div>
                            <span>Column</span>
                            @foreach (MyColumn Column in Columns)
                            {
                                <div>@Column.ColumnName :: @Column.ColumnType :: @Column.ColumnKey :: @Column.ColumnTable</div>
                            }
                        </div>
                    }
                </div>
                        }
        }

    </div>

</div>
@*<textarea class="codemirror-textarea"></textarea>*@
<textarea id="code" name="code" style="margin-right: 850px; margin-top:20px; position: relative; height: 500px; overflow: auto ; margin-right: 850px; margin-top:530px; position: relative; height: 200px; overflow: auto; ;"></textarea>
<i class="fa fa-sign-in" aria-hidden="true" id="sqlquery"></i>

<script>
    <table id="querT" class="table" style="width:100%">
    @{ if(ViewBag.Row != null)
        {
            foreach (row row_name in ViewBag.Row)
            {
                <tbody>

                        int row_count = new row_name.count;
                        <span>row_count</span>
                        @{
                            foreach (string rows in row_name.column)
                            {
                                <td>@rows ::</td>
                            }
                        }
                </tbody>
            }
        }

    }
    </table>
</script>

<script>
    let tableCollection = @Html.Raw(ViewBag.TablesDict_S);
    $(document).ready(function () {

        let DBExplorer = new Eb_DBExplorer({
            TCobj: tableCollection
        });

    });
</script>



